{% extends "base.html" %}

{% block content %}

<div class="container">
   

        {% if accounts_detail %}
        <table class="table is-fullwidth is-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
              {% for account in accounts_detail %}
                <tr>
                    <td>                        {{ account.account.name}}                    </td>
                    <td>{{ account.balance }} EUR</td>
                    <td>
                        <a class="button is-small" href="{% url 'edit_account' account.account.id %}"> 
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="button is-small is-danger" href="{% url 'delete_account' account.account.id %}"> 
                            <i class="fas fa-trash-alt"></i>
                        </a>
                </tr>
              {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>This portfolio has no accounts.</p>
        {% endif %}


    
            <div class="content mt-6">
                <h3>Add an account for your portfolio</h3>
                <form method="post">
                    {% csrf_token %}

                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            {{ form3.name }}
                        </div>
                    </div>

                                     
                    <button class="button is-link" type="submit">Save</button>
                    <input type="hidden" name="next" value="{% url 'accounts' %}" />
                </form>
            </div>

            
</div>
{% endblock content %}