{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block content %}

<style>
    table {
        table-layout: fixed;
        width: 100%;
    }
    th, td {
        width: 20%; /* Adjust this percentage to fit your needs */
        text-align: center;
        word-wrap: break-word; /* Ensures long text wraps within the cell */
    }
</style>

<section class="section">
    <div class="container">
        <div class="title has-text-right has-text-weight-bold">
            <p>Total value: {{ portfolio_value }} €</p>
        </div>
        <div class="subtitle is-size-7 has-text-right">
            <p>Last updated: {{ last_snapshot_date }}</p>
            <a class="button is-small is-light mt-3 has-text-right" href="{% url 'refresh' %}">
                Refresh
            </a>
        </div>

        <h1 class="title">Assets</h1>
        {% if assets %}
        <table class="table is-fullwidth is-striped">
            <thead>
                <tr>
                    <th>Token</th>
                    <th>Network</th>
                    <th style="text-align: right;">Amount</th>
                    <th style="text-align: right;">EUR value</th>
                </tr>
            </thead>
            <tbody>
                {% for cryptocurrency, values in assets.items %}
                <tr>
                    <td>
                        <span class="icon-text">
                            <span class="icon">
                                <img src="{% static values.image %}" alt="{{ cryptocurrency }} logo" style="width: 24px; height: 24px;">
                            </span>
                            <span>{{ values.symbol }}</span>
                        </span>
                    </td>
                    <td>{{ values.network }}</td>
                    <td style="text-align: right;">{{ values.amount|floatformat:2|intcomma  }} {{ values.symbol }}</td>
                    <td style="text-align: right;">{{ values.amount_eur|floatformat:2|intcomma }}€</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>This portfolio has no funds.</p>
        {% endif %}
    </div>

    <div class="container">
        <h1 class="title my-6"> ETH Staking</h1>
        {% if staking %}
        <table class="table is-fullwidth is-striped">
            <thead>
                <tr>
                    <th>Pool</th>
                    <th>Nº Validators</th>
                    <th>Balance</th>
                    <th>Balance (EUR)</th>
                    <th>Rewards</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span class="icon-text">
                        <span class="icon">
                            <img src="{% static "cryptotracker/logos/ethereum_staking.png" %}" alt="eth staking logo" style="width: 24px; height: 24px;">
                        </span>
                        <span>ETH</span>
                    </span></td>
                    <td>{{ staking.num_validators }}</td>
                    <td>{{ staking.balance|floatformat:2|intcomma }} ETH</td>
                    <td>{{ staking.balance_eur|floatformat:2|intcomma  }} €</td>
                    <td>+ {{ staking.rewards }}</td>
                </tr>
            </tbody>
        </table>
        {% else %}
        <p>This portfolio has no staking.</p>
        {% endif %}
    </div>

    {% for protocol_name, protocol_data in protocols.items %}
    <div class="container">
        <h1 class="title my-6">{{ protocol_name }}</h1>
        {% if protocol_data %}
        <table class="table is-fullwidth is-striped">
            <thead>
                <tr>
                    <th>Pool</th>
                    <th>Network</th>
                    <th>Token</th>
                    <th>Balance</th>
                    <th>Balance (EUR)</th>
                    <th>Rewards</th>
                </tr>
            </thead>
            <tbody>
                {% for pool, values in protocol_data.items %}
                {% for token, token_values in values.balances.items %}
                <tr>
                    <td> {{pool}}</td>
                    <td>{{ token_values.network }}</td>
                    <td>{{ token }}</td>
                    <td>{{ token_values.quantity|floatformat:2|intcomma }}</td>
                    <td>{{ token_values.balance_eur|floatformat:2|intcomma }} €</td>

                    <td>
                        {% for reward_token, reward_values in values.rewards.items %}
                        + {{ reward_values.quantity|floatformat:2|intcomma }} {{ reward_token }}<br>
                        {% endfor %}
                    </td>

                </tr>

                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container">

        {% if protocol_name == "Liquity V1" or protocol_name == "Liquity V2" %}
        <table class="table is-fullwidth is-striped my-6 " >
            <thead>
                <tr>
                    <th>Pool</th>
                    <th>Trove Id</th>
                    <th>Collateral</th>
                    <th>Debt</th>
                    <th>Interest Rate</th>
                </tr>
            </thead>
            <tbody>
                {% for pool, values in protocol_data.items %}
                {% if pool == "borrow" %}
                    {% for pool_troves in values.troves %}
                    {% for trove in pool_troves %}
                <tr>
                    <td >{{ pool }}</td>
                    <td>{{ trove.trove_id }}</td>
                    <td>{{ trove.collateral|floatformat:2|intcomma }} {{trove.token.symbol}}
                    </td>
                    <td>{{ trove.debt|floatformat:2|intcomma }} 
                        {% if protocol_name == "Liquity V2" %}BOLD{% elif protocol_name == "Liquity V1" %}LUSD{% endif %}
                    </td>
                    <td>{{ trove.interest_rate|floatformat:2 }}%</td>
                </tr>

                {% endfor %}
                {% endfor %}

                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% else %}
        <p>This portfolio has no data for {{ protocol_name }}.</p>
        {% endif %}
    </div>
    {% endfor %}
</section>

{% endblock content %}