{% extends "base.html" %}
{% load static %}


{% block content %}

<section class="section">
    <div class="container">
        <div class="title has-text-right has-text-weight-bold">
            <p>Total value: {{ portfolio_value }} €</p>
        </div>
        <div class="subtitle is-size-7 has-text-right">
            <p>Last updated: {{ last_snapshot_date }}</p>
        <a class="button is-small is-light mt-3 has-text-right" href="{% url 'refresh'%}">
            Refresh
        </a>
    </div>

        <h1 class="title">Assets</h1>
        {% if assets %}
        <table class="table is-fullwidth is-striped">
            <thead>
                <tr>
                    <th >Token</th>
                    <th style="text-align: right;">Amount</th>
                    <th style="text-align: right;">EUR value</th>
                </tr>
            </thead>
            <tbody>
                {% for cryptocurrency, values in assets.items %}
                <tr>
                    <td ><span class="icon-text">
                        <span class="icon">
                            <img src="{% static values.image %}" alt="{{ cryptocurrency }} logo" style="width: 24px; height: 24px;">
                        </span>
                        <span>{{ cryptocurrency }}</span>
                    </span></td>
                    <td style="text-align: right;">{{ values.amount }} {{cryptocurrency}}</td>
                    <td style="text-align: right;">{{ values.amount_eur }} €</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>This portfolio has no funds.</p>
        {% endif %}
    </div>
</div>
<div class="container">
    <h1 class="title my-6"> ETH Staking</h1>
    {% if total_eth_staking %}
    <table class="table is-fullwidth is-striped">
        <thead>
            <tr>
                <th>Pool</th>
                <th>Nº Validators</th>
                <th>Balance</th>
                <th>Balance (EUR)</th>
                <th>Rewards</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span class="icon-text">
                    <span class="icon">
                        <img src="{% static "cryptotracker/logos/ethereum_staking.png" %}" alt="eth staking logo" style="width: 24px; height: 24px;">
                    </span>
                    <span>ETH</span>
                </span></td>
                <td>{{ total_eth_staking.num_validators }}</td>
                <td>{{ total_eth_staking.balance }}</td>
                <td>{{ total_eth_staking.balance_eur }}</td>
                <td>+ {{ total_eth_staking.rewards }}</td>
            </tr>
        </tbody>
    </table>
    {% else %}
    <p>This portfolio has no staking.</p>
    {% endif %}


    {% endblock content %}