{% extends "base.html" %}

{% block content %}

<div class="container">

  {% if validators %}
  <table class="table is-fullwidth is-striped">
      <thead>
          <tr>
              <th>Index</th>
              <th>Withdraw Credentials</th>
              <th>Balance</th>
              <th>Status</th>
              <th>Rewards</th>
          </tr>
      </thead>
      <tbody>
        {% for validator in validators %}
          <tr>
              <td>{{ validator.validator_index }}</td>
              <td>{{ validator.address.public_address }}</td>
              <td>{{ validator.balance }}</td>
              <td>{{ validator.status }}</td>
              <td>+ {{ validator.rewards }}</td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
  {% else %}
  <p>This portfolio has no staking.</p>
  {% endif %}

</div>
{% endblock content %}