export DJANGO_ALLOW_HOSTS=127.0.0.1,0.0.0.0
export DJANGO_DEBUG=False
export WEB3_ALCHEMY_PROJECT_ID=
export ETHERSCAN_API_KEY=
export API_KEY_THE_GRAPH=

export REDIS_URL=redis://localhost:6379
export CELERY_BROKER_URL=${REDIS_URL}/0
export CELERY_RESULT_BACKEND=${CELERY_BROKER_URL}
